{% extends "standards/base.html" %}

{% block extrahead %}
<title>{{ object.name }} (Jurisdiction)</title>
{% endblock %}


{% block maincontent %}
<div class="container">

    <div class="float-right">
        Data also available as:
        <a href="{{ request.path }}?format=json" title="JSON">JSON</a>,
        <a href="{{ request.path }}?format=api" title="REST API">REST API</a>.
    </div>
    <div class="clearfix"></div>
    <span class="float-right badge badge-primary">Jurisdiction</span>
    <h2>{{ object.name }}</h2>


    <hr/>

    <ul class="skos-property list-group">
        {% for name, value in object.get_fields %}
            {% if value %}
                <li class="list-group-item">
                    <h5 class="list-group-item-heading">{{ name }}</h5>
                    <p class="list-group-item-text">
                        {{ value }}
                    </p>
                </li>
            {% endif %}
        {% endfor %}

        <li class="list-group-item">
            <h5 class="list-group-item-heading">vocabularies</h5>
            <ul>
            {% for vocab in object.vocabularies.all %}
                <li>
                <a href="/terms/{{ object.name }}/{{ vocab.name }}">
                    {{ vocab.name }}
                </a>
                </li>
            {% endfor %}
            </ul>

        </li>

    </ul>

</div><!-- /container -->
{% endblock %}
