<html>
    <head>
        <title>{{ object }}</title>
    </head>
<body>    
    <a href="https://www.json.org" title="JSON">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/JSON_vector_logo.svg/60px-JSON_vector_logo.svg.png"
             style="border:0px;width:64px;height:59.5px;" alt="JSON Logo" />
    </a>    
    <a href="https://json-ld.org/" title="JSON-LD">
        <img src="https://json-ld.org/images/json-ld-logo-64.png"
             style="border:0px;width:64px;height:59.5px;" alt="JSON-LD Logo" />
    </a>
    <a href="http://www.w3.org/RDF/" title="RDF Resource Description Framework">
        <img src="http://www.w3.org/RDF/icons/rdf_w3c_icon.64" 
             style="border:0px;" alt="RDF Resource Description Framework Logo"/>
    </a>

    <h1>{{ object.name }} (Jurisdiction)</h1>
    <ul>
        <li>{{ object.display_name }}</li>
        <li>{{ object.id }}</li>
    </ul>

    <hr/>
    <ul>
        {% for vocab in object.vocabularies.all %}
            <li>{{ vocab.name }} - {{ vocab.id }} </li>
        {% endfor %}
    </ul>
</body>
</html>