{% extends "standards/base.html" %}

{% block extrahead %}
<title>List of all term relations</title>
{% endblock %}


{% block maincontent %}
<div class="container">

    {% include "standards/fragments/alt_formats_links.html" %}
    
    <h2 class="object-title">List of all term relations</h2>
    <span class="objectkindbadge badge badge-primary">list of TermRelation</span>

    <hr/>

    <ul>
        {% for data in datas %}
            <li>{{ data.uri|safe }}</li>
        {% endfor %}
    </ul>


</div><!-- /container -->
{% endblock %}
