{% extends "standards/base.html" %}

{% block extrahead %}
<title>{{ object.path }} (Term)</title>
{% endblock %}


{% block maincontent %}
<div class="container">

    <div class="float-right">
        Data also available as:
        <a href="{{ request.path }}?format=json" title="JSON">JSON</a>,
        <a href="{{ request.path }}?format=api" title="REST API">REST API</a>.
    </div>
    <div class="clearfix"></div>

    <h2 class="object-title">{{ object.vocabulary.jurisdiction.name }}/{{ object.vocabulary.name }}/{{ object.path }}</h2>
    <span class="objectkindbadge badge badge-primary">Term</span>
    
    <hr/>

    <ul class="object-properties-list list-group">

        {% for name, value in object.get_fields %}
            {% if value %}
                <li class="list-group-item">
                    <h5 class="list-group-item-heading">{{ name }}</h5>
                    <p class="list-group-item-text">
                        {{ value }}
                    </p>
                </li>
            {% endif %}
        {% endfor %}


    </ul>

</div><!-- /container -->
{% endblock %}