{% extends "standards/base.html" %}

{% block extrahead %}
<title>List of all terms in vocabulary</title>
{% endblock %}


{% block maincontent %}
<div class="container">

    <div class="float-right">
        Data also available as:
        <a href="{{ request.path }}?format=json" title="JSON">JSON</a>,
        <a href="{{ request.path }}?format=api" title="REST API">REST API</a>.
    </div>
    <div class="clearfix"></div>

    <h2 class="object-title">List of all terms in vocabulary</h2>
    <span class="objectkindbadge badge badge-primary">list of Term</span>

    <hr/>

    <ul>
        {% for term in terms %}
            <li>
            <a href="/terms/{{ term.vocabulary.jurisdiction.name }}/{{ term.vocabulary.name }}/{{ term.path }}">
                {{ term.path }}
            </a>
            </li>
        {% endfor %}
    </ul>


</div><!-- /container -->
{% endblock %}
