{% extends "standards/base.html" %}
{% load static %}

{% block extrahead %}
<title>Repository of Organized Curriculums (ROC)</title>
{% endblock %}


{% block maincontent %}
<div class="container">

    <h2>About</h2>

    <p></p>

    <figure>
        <a href="{% static 'website/standards_alignment_hackathon_and_consultation.jpg' %}">
            <img class="img-fluid"
                src="{% static 'website/standards_alignment_hackathon_and_consultation.jpg' %}"
                alt="Left shows participants at San Francisco Hackathon (grouped around different tables with lots of whiteboards and laptops all around). Right shows educators discussing content-discoverability challanges at workshop at UNESCO Mobile Learning Week." />
            </a>
        <figcaption>Participants at San Francisco Hackathon (Oct 2019) and workshop at UNESCO Mobile Learning Week (March 2018).</figcaption>
    </figure>


<p>The process of curriculum alignment is the organization of a diverse set of learning resources to fit the structure
    and learning objectives of the local curriculum standards in a given country is called curriculum alignment. Without
    curriculum alignment, educators find it difficult to navigate, discover, and use learning resources. Facilitating
    alignment to curriculum is an essential prerequisite for making globally-produced educational resources usable and
    relevant for local contexts, but the lack of time, personnel, and tools dedicated to this process is a limitation.
    In response, Google.org, Learning Equality, Vodafone Foundation, UNHCR, and UNESCO have been leading a
    multi-stakeholder collaboration to create a set of tools that can automate the mapping of digital learning resources
    to national curriculum standards in an effective and efficient manner.&nbsp;</p><br>
<p>This process continues to be informed through consultations with domain experts, with engagement with individuals of
    various backgrounds: curriculum designers to machine learning experts to curricular bodies. Through a series of
    convenings and related reports, this effort continues to push this initiative forward in developing this set of
    semi-automated alignment tools. This includes:</p>
<ul>
    <li>
        <p>Understanding of the needs for a learning platform in emergency and crisis contexts, including the need for
            aligned curriculum at a Mobile Learning Week 2017 strategy lab in Paris, France hosted by Google.org, UNHCR,
            UNICEF and Learning Equality (<a href="https://blog.learningequality.org/mlw2017-3f5ecd3e1cee">Read the
                blog</a><a href="http://learningequality.org/r/mlw2017-synthesis">and report</a>)</p>
    </li>
    <li>
        <p>Investigation of digital Arabic resources, including some of the core characteristics of digital learning
            resource at a 2017 WISE Summit workshop in Doha, Qatar co-hosted by Google.org and Education Above All (<a
                href="http://learningequality.org/r/wisesynthesis">Read the report</a>, <a
                href="http://learningequality.org/r/arabiccontent">list of Arabic content</a> and <a
                href="https://learningequality.org/r/arabicsurvey">survey to contribute</a>)</p>
    </li>
    <li>
        <p>Evaluating whether aspects of curriculum alignment can or should be automated at a UNESCO Mobile Learning
            Week 2018 workshop in Paris, France hosted by Google.org, UNHCR, and Learning Equality</p>
    </li>
    <li>
        <p>Designing a process to make learning resources more readily discoverable during a design sprint following
            UNESCO Mobile Learning Week 2019 in Paris, France hosted by Google.org, UNHCR, Vodafone Foundation, Learning
            Equality and UNESCO (<a href="http://learningequality.org/r/designsprint-mar19">Read the report</a> and
            follow-up <a href="https://blog.learningequality.org/search?q=design2align">#design2align blog
                series</a>)</p>
    </li>
    <li>
        <p>Prototyping a set of tools to support the automation of curriculum alignment at a hackathon at Google’s
            offices in San Francisco, U.S. hosted by Google.org, UNHCR, Vodafone Foundation, Learning Equality and
            UNESCO (<a href="https://learningequality.org/r/hackathon-oct19-report">Read the report</a> which links to
            various projects and GitHub repositories, <a
                href="https://learningequality.org/r/hackathon-oct19-video">watch the video</a>, and <a
                href="https://blog.learningequality.org/hackathon19-debrief-7f1911d9b109">learn about participants’
                reflections</a>)</p>
    </li>
    <li>
        <p>Proposing a centralized, dynamic hub to coordinate curriculum alignment which could generate additional data
            for an automated alignment tool, developed by Learning Equality and the EdTech Hub
            (<a href="https://blog.learningequality.org/curriculum-alignment-hub-cc975433d6a1">Read the proposed concept note</a>)</p>
    </li>
</ul>Developing a new data model for digitizing curriculum standards particularly for open educational resources in a
global context (<a href="http://learningequality.org/r/digitizing-curriculum">Read the report</a>)


</div><!-- /container -->
{% endblock %}

