{% extends "standards/base.html" %}
{% load static %}

{% block extrahead %}
<title>Repository of Organized Curriculums (ROC)</title>
{% endblock %}


{% block maincontent %}
<div class="container">

    <div class="float-right">
        [<a href="https://learningequality.org/r/designsprint-mar19" title="Design sprint report">DS19</a>,
         <a href="https://learningequality.org/r/hackathon-oct19-report" title="Hackathon report">HA19</a>]
    </div>
    <div class="clearfix"></div>

    <h2 class="object-title">Repository of Organized Curriculums (ROC)</h2>
    <span class="objectkindbadge badge badge-primary">beta</span>

    <hr/>

    <h2>About</h2>
    <p>
        This server hosts the digital curriculum standards data for several countries.
    </p>

    <p>
        <img style="max-width:70%;" src="{% static 'website/overview_of_domain_fig.png' %}" />
    </p>

    <h3>Example of data available for browsing</h3>
    <ul>
        <li>
            Jurisdictions:
            <a href="/Ghana">Ghana</a>,
            <a href="/CCSS">CCSS</a> (USA),
            <a href="/KA">Khan Academy</a>, ...
        </li>
        <li>
            Vocabularies and terms:
            <a href="/terms/Ghana/GradeLevels">Ghana GradeLevels</a>
            and <a href="/terms/Ghana/GradeLevels/B4">Basic 4</a> grade level.
        </li>
        <li>
            (1) Digitized standards documents:
            <a href="/CCSS/documents/DayhBeyn">CCSS.Math</a>,
            ...
        </li>
        <li>
            Content collection:
            <a href="/KA/contentcollections/CCBwpakEViFm">Khan Academy English</a>,
            ...
        </li>
        <li>
            (2) Content correlations:
            <a href="/KA/contentcorrelations/CS5usCvLx">KA-CCSS.Math</a>,
            ...
        </li>
        <li>
            (3) Standards crosswalks:
            <a href="/CCSS/standardscrosswalks/SCS6RJNzt">ex1</a>,
            ...
        </li>
    </ul>

    <h3>Example of data available for download</h3>
    <p>
        The <a href="https://github.com/rocdata/standards-ghana/tree/main/terms">controlled vocabulary terms</a>
        used in Ghana curriculum standards documents.
    </p>

</div><!-- /container -->
{% endblock %}
