{% load property_types %}


<ul class="object-properties-list list-group">

    {% for name, value in data.items %}
        {% if value %}

            {% if value|get_type == 'str' or value|get_type == 'int' or value|get_type == 'float' %}

                <li class="list-group-item">
                    <h5 class="list-group-item-heading">{{ name }}</h5>
                    <p class="list-group-item-text" data-name="{{name}}">
                        {{ value|safe }}
                    </p>
                </li>

            {% elif value|get_type == 'list' and not name == 'children' %}

                <li class="list-group-item">
                    <h5 class="list-group-item-heading">{{ name }}</h5>
                    <ul>
                    {% for item in value %}
                        <li>{{ item|safe }}</li>
                    {% endfor %}
                    </ul>
                </li>

            {% elif value and value|get_type == 'list' and name == 'children' %}

                {# Skip printing children; handled in a second pass below #}

            {% elif value|get_type == 'dict' %}

                <li class="list-group-item">
                    <h5 class="list-group-item-heading">{{ name }}</h5>
                    <pre class="extra_fields-dict">{{ value|pprint }}</pre>
                </li>

            {% else %}

                <li>
                    Unrecognized type {{ value|get_type }} for value {{ value }}
                </li>

            {% endif %}

        {% endif %}
    {% endfor %}


    {# SPECIAL HANDLING OF CHILDREN DEPENDING IF /full ACTION REQUESTED #}
    {% with value=data.children %}
        {% if value %}
        
            <li class="list-group-item">
                <h5 class="list-group-item-heading">children</h5>
                <ul>

                    {% if request.resolver_match.view_name|slice:"-4:" != 'full' %}

                        {# JUST SHOW IMMEDIATE CHILDREN #}
                        {% for item in value %}
                            <li>{{ item|safe }}</li>
                        {% endfor %}

                    {% else %}

                        {# RECUSIVELY DISPLAY ALL DESCENDANTS FOR /full ACTION #}
                        {% include "standards/fragments/recursive_children_nodes.html" with children=value %}

                    {% endif %}

                </ul>
            </li>

        {% endif %}
    {% endwith %}


</ul>