
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <!-- <a class="navbar-brand" href="/">ROC</a> -->

    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/pages/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/background/">Background</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://learningequality.org/r/digitizing-curriculum">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/glossary/">Glossary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/contribute/">Contribute</a>
        </li>
      </ul>
    </div>

  </nav>
</div>
